@model List<Libro>
@{
    ViewBag.Title = "Index";
}

<h2>Listado de libros</h2>
<hr />
<h2>
    <a href="@Url.Action("Nuevo", "Libro")" class="btn btn-primary right">Nuevo</a> 
    Listado de libros
</h2>
<table class="table table-bordered">
    <thead>
        <tr>
            <td>Id</td>
            <td>Titulo</td>
            <td>Autor</td>
            <td>Acciones</td>
        </tr>

    </thead>
    <tbody>
        @foreach (var libro in Model)
        {
            <tr>
                <td>@libro.IdLibro</td>
                <td>@libro.Titulo</td>
                <td>@libro.Autor</td>               
                <td>
                    <a href="@Url.Action("Actualizar", "Libro", new {id=libro.IdLibro })" class="btn btn-success right">Actualizar</a>
                    <a href="@Url.Action("Eliminar", "Libro", new {id=libro.IdLibro })" class="btn btn-danger right">Eliminar</a>
                    <a href="@Url.Action("Detalle", "Libro", new {id=libro.IdLibro })" class="btn btn-default right">Ver Detalle</a>


                </td>
            </tr>

        }
    </tbody>
</table>